$active-primary: #fefefe;
$active-secondary: #07080a;
$active-placeholder: #959595;
$active-accent: #dcd8d8;
$active-gradient: linear-gradient(to right, #ffeedf 0%, #fff9f1 17%, #fdf3db 33%, #f9f9f8 49%, #f6f8f3 65%, #f2f5f3 82%, #eff2f1 98%);
$disabled-primary: rgba(254, 254, 254, 0.2);
$disabled-secondary: rgba(7, 8, 10, 0.2);
$disabled-accent: rgba(220, 216, 216, 0.32);