@import "breakpoints";
@import "font";
@import "colors";
@import "general";
@import "text";
@import "buttons";

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    font-size: $font-size;
    font-family: 'Manrope';
    scroll-behavior: smooth;
    color: $active-secondary;
    background: $active-primary;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    @include flex (column, flex-start, normal, wrap, 200px);
    overflow: hidden;
    overflow-y: scroll;

    @include devices(tablet) {
        @include flex (column, flex-start, normal, wrap, 120px);
    }

    @include devices(phone) {
        @include flex (column, flex-start, normal, wrap, 88px);
    }
}

/*
    H E A D E R
*/

@import "header";


/*
    N A V I G A T I O N
*/

@import "nav";


/*
    B O D Y
*/

@import "body";


/*
    F O O T E R
*/

@import "footer";